<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.markokaestner.tags</string>
	<key>connections</key>
	<dict>
		<key>36ACFBC8-4D15-46AB-974A-855FE1B235D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>468B3007-566D-4B7B-8C4E-49AFA9FD81B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5DB6D31E-F533-4F44-ADDD-F01C7A541C75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB27C26A-F372-4574-B306-B6D0AD56DB46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>68588082-968F-48CF-8D3D-40BD183AF368</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01C3A96B-1D1F-445B-B20C-37BDADCC9C33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>86B3A01A-20B5-408A-AF1C-9345BCD457F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>468B3007-566D-4B7B-8C4E-49AFA9FD81B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BB27C26A-F372-4574-B306-B6D0AD56DB46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF1DA4EE-534C-4CAE-81E7-883C6BD0510D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D685AFDF-AED6-41BA-A80E-91593F161F8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AA24E75-BB97-44E6-9102-CFF40D84984A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FDE325C7-AD1E-472C-9E55-3C1F8E021FC2</key>
		<array/>
		<key>FE98A538-1866-4A04-85B4-7086A7F231BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDE325C7-AD1E-472C-9E55-3C1F8E021FC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marko Kaestner (@markokaestner)</string>
	<key>description</key>
	<string>Manage your Mavericks Tags with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mavericks Tags</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>. workflowHandler.sh
setPref "file" "{query}" 0
/usr/bin/osascript -e "tell application \"Alfred 2\" to search \".tag\""
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>468B3007-566D-4B7B-8C4E-49AFA9FD81B7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Manage Tags</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>36ACFBC8-4D15-46AB-974A-855FE1B235D5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>86B3A01A-20B5-408A-AF1C-9345BCD457F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>. workflowHandler.sh
SELMAIL=$(/usr/bin/osascript ./getMail.scpt | sed 's/	*$//g')
setPref "file" "$SELMAIL" 0
/usr/bin/osascript -e "tell application \"Alfred 2\" to search \".tag\""</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FDE325C7-AD1E-472C-9E55-3C1F8E021FC2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FE98A538-1866-4A04-85B4-7086A7F231BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Mavericks Tags</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CF1DA4EE-534C-4CAE-81E7-883C6BD0510D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.tag</string>
				<key>script</key>
				<string>. workflowHandler.sh

RANDOM=$(date +%s)
QUERY="{query}"
FILES=$(getPref "file" 0)

addResult "${RANDOM}" "add ${QUERY#add }" "Add Tag ${QUERY#add }" "Enter Tag Name" "add.png" "yes" ""

OLDIFS="$IFS"
IFS='	'
for F in ${FILES[*]}; do
	FILENAME="${F##*/}"
	ICON="info.png"
	EXT="${F##*.}"
	if [ "emlx" = "$EXT" ]; then
		FILENAME=$(mdls "$F" |grep kMDItemDisplayName | cut -d '"' -f 2)
		ICON="mail.png"
	fi
	addResult "${RANDOM}" "" "$FILENAME" "${F%/*}" "$ICON" "no" ""

	FILETAGS=$(./tag -N -l "$F" | sed 's/,/	/g')
	TAGLIST=( $FILETAGS )
	for T in "${TAGLIST[@]}"; do 
		addResult "${RANDOM}" "del $T|$F" "$T" "Delete Tag" "del.png" "yes" ""
	done
done

IFS="$OLDIFS"

getXMLResults</string>
				<key>subtext</key>
				<string>Show, Add, Remove Tags</string>
				<key>title</key>
				<string>Manage File/Folder Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5DB6D31E-F533-4F44-ADDD-F01C7A541C75</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>. workflowHandler.sh

QUERY="{query}"
FUNC=${QUERY:0:3}
REST=${QUERY:4}

TAG=${REST%%|*}
USERFILE=${REST#*|}

FILES=$(getPref "file" 0)

if [ -z "$TAG" ]; then
	/usr/bin/osascript -e "tell application \"Alfred 2\" to search \".tag ${QUERY%%|*}\""
else
	case "$FUNC" in
		add)
			MSG="Tag $TAG added to file(s):"
			OLDIFS="$IFS"
			IFS='	'
			for F in ${FILES[*]}; do
				./tag -a $TAG "$F" 2&gt;&amp;1 | tee workflow.log
				MSG="$MSG ${F##*/}"
			done
			IFS="$OLDIFS"
			echo "$MSG"
			;;
		del)
			./tag -r $TAG "$USERFILE" 2&gt;&amp;1 | tee workflow.log
			echo "Tag $TAG removed from file ${USERFILE##*/}"
			;;
	esac
	/usr/bin/osascript -e "tell application \"Alfred 2\" to search \".tag\""
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB27C26A-F372-4574-B306-B6D0AD56DB46</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>01C3A96B-1D1F-445B-B20C-37BDADCC9C33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>.tagged</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Enter Tag Name</string>
				<key>title</key>
				<string>Search Files/Folders by Tag</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>68588082-968F-48CF-8D3D-40BD183AF368</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5AA24E75-BB97-44E6-9102-CFF40D84984A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>.mtagged</string>
				<key>scopes</key>
				<array>
					<string>~/Library/Mail</string>
				</array>
				<key>subtext</key>
				<string>Enter Tag Name</string>
				<key>title</key>
				<string>Search E-Mails by Tag</string>
				<key>types</key>
				<array>
					<string>com.apple.mail.emlx</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>D685AFDF-AED6-41BA-A80E-91593F161F8A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01C3A96B-1D1F-445B-B20C-37BDADCC9C33</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>36ACFBC8-4D15-46AB-974A-855FE1B235D5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>468B3007-566D-4B7B-8C4E-49AFA9FD81B7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5AA24E75-BB97-44E6-9102-CFF40D84984A</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>5DB6D31E-F533-4F44-ADDD-F01C7A541C75</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>68588082-968F-48CF-8D3D-40BD183AF368</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>86B3A01A-20B5-408A-AF1C-9345BCD457F5</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>BB27C26A-F372-4574-B306-B6D0AD56DB46</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>CF1DA4EE-534C-4CAE-81E7-883C6BD0510D</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>D685AFDF-AED6-41BA-A80E-91593F161F8A</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>FDE325C7-AD1E-472C-9E55-3C1F8E021FC2</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>FE98A538-1866-4A04-85B4-7086A7F231BA</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://markokaestner.com</string>
</dict>
</plist>
